		
	 <table class="answer_name" style="float:left; width:100%; padding:0; margin:0;" >
		<tr>
			<th style='float:left;'><%=t('question.enter_opt')%></th>
			
		</tr>
		
			
				<% 1.upto(2) do |i| %>
				<tr><td>
				  <%= text_field_tag "fields[#{i}][name]",'', :class=>"validate[required,funcCall[checkHELLO]] text-input blankCount", :style=>"width:115px; height:19px; border:#d1d1d1 1px solid; margin-right:10px; float:left;" %>
				  <%= check_box_tag "fields[#{i}][is_answer]", '1', false, :class=>"validate[maxCheckbox[1]] checkbox", :style=>"margin-left: 10px; margin-right: 5px; margin-top:3px;", :class=>"mtie7" %>
				  <br></td></tr>
				<% end %>
				
			
		
    </table>