




          <div class="formBg">
            <table  style="width:100%;">
              <tr>
                
                <td style="width:115px;">
		    <%= text_field_tag "name",'', :class=>"validate[required,funcCall[checkHELLO]] text-input", :style=>"width:150px; height:19px; border:#d1d1d1 1px solid;" %>
		</td>
              </tr>
            </table>
          </div>

  <script language="JavaScript">
    document.getElementById("name").focus();
  </script> 