<h2><%=t('about.contactus')%></h2>
<div class="formContainer">

<div class="formBg">
      <p class="linkGroup" style="text-align:justify;"> 
      <p><strong>PIT Solutions Pvt Ltd.</strong><br />
        L7 & L8, Floor(-1), Thejaswani<br />
        Technopark, Trivandrum Kerala, India<br />
        PIN: 695581</p><br />
      <p>E-mail: enquiries(at)pitsolutions(dot)com</p><br />
      <p>Phone: +91 (0) 471 270 0715</p>
	  </p>

</div>
</div>




