<h1>Welcome Examiner</h1>


<%#= link_to "Question Setter", :action=>'index', :controller=>'users', :create_id => 3%>
<%#= link_to "Examinee", :action=>'index', :controller=>'users', :create_id => 4%>